<div>

    <h2 translate="cumulusApp.toc.home.title">Toc</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTocModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="cumulusApp.toc.home.createLabel">Create a new Toc</span>
    </button>
    <div class="modal fade" id="saveTocModal" tabindex="-1" role="dialog" aria-labelledby="myTocLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTocLabel" translate="cumulusApp.toc.home.createOrEditLabel">Create or edit a Toc</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="toc.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="cumulusApp.toc.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="toc.description">
                        </div>
                        <div class="form-group">
                            <label translate="cumulusApp.toc.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="toc.name">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTocConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(toc.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cumulusApp.toc.delete.question" translate-values="{id: '{{toc.id}}'}">Are you sure you want to delete this Toc?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="cumulusApp.toc.description">Description</th>
                    <th translate="cumulusApp.toc.name">Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="toc in tocs">
                    <td><a ui-sref="tocDetail({id:toc.id})">{{toc.id}}</a></td>
                    <td>{{toc.description}}</td>
                    <td>{{toc.name}}</td>
                    <td>
                        <button type="submit"
                        
                                ui-sref="tocDetail({id:toc.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                        		ng-show="isInRole('RcOLE_ADMIN')"
                        		
                                ng-click="update(toc.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-show="isInRole('ROLE_ADMIN')"
                                
                                ng-click="delete(toc.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
